body {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.balance {
    background-color: rgba(60, 255, 100, 0.2);
    font-size: large;
    font-weight: bold;
}
